html
    head
        meta(charset="UTF-8")
        meta(name="author" content="Ewerton")
        title #{title}
        link(href="./styles.css" rel="stylesheet")
    body 
        a(href="/") List
        block content
